@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Dongle&family=Licorice&family=PT+Sans+Narrow&family=Qwitcher+Grypen:wght@700&family=Spectral:ital,wght@1,200;1,300&display=swap');

#div1{
    background-color: rgb(24, 6, 128);
    height: 50px;
    width: 100%;  
    /* display: flex; */
    /* justify-content: start;
    align-content: center; */
}
#a{
    color: white;
    margin-left: 15%;
}
#b{
    color: white;
    font-size: 35px;
    font-family: 'PT Sans Narrow', sans-serif;
    /* position: absolute; */
    margin-left: 19%;
    margin-top: -5%;
}
#home{
     /* margin-left: 660px; 
    margin-top: -900px;  */
    padding-left: 700px;
    padding-top: 20px;
    color: rgb(66, 94, 14);
    text-decoration: none;
    font-size: 20px;
    /* margin-top: 100px; */

}
#about{
    font-size: 20px;
    text-decoration: none;
    /* padding-left: 50px;
    margin-left: 50px ; */
    color: lawngreen; */
}
 #browse{
    font-size: 20px;
    text-decoration: none;
    /* margin-left:75px ; */
    color: lawngreen;
    /* padding-left: 50px; */
}
#sign{
    font-size: 20px;
    text-decoration: none;
    /* margin-left: 50px; */
    color: lawngreen;
    /* padding-left: 50px; */
}
#register{
    font-size: 20px;
    text-decoration: none;
    /* margin-left:25px ; */
    color: khaki;
    /* padding-left: 100px; */
}