


div{
    width: 24%;
    /* height: 200px; */
    float: left;
    background-color: darkgray;
    border:black solid 1px

}
/* img{
    width:100%;
    height:fit-content
} */
#a{
    text-align: center;
}
#a1{
    width: 100%;
    height: 267px;
}
#a2{
    text-align: center;
}
#a3{
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
}

#b{
    text-align: center;
}
#b1{
    /* height: 100%; */
    width: 104%;
    height:267px ;
}
#b2{
    text-align: center;
}
#b3{
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
}
#c{
    text-align: center;
}


#c1{
    /* height: 100%; */
    width: 100%;
    height: 267px;
}
#c2{
    text-align: center;
}
#c3{
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
}
#d{
    text-align: center;
}
#d1{
    height: 267px;
    width: 100%;
}
#d2{
    text-align: center;
}
#d3{
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
}
#a{
    text-align: center;
}
#a1{
    width: 100%;
    height: 267px;
}
#a2{
    text-align: center;
}
#a3{
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
}

#b{
    text-align: center;
}
#b1{
    /* height: 100%; */
    width: 104%;
    height:267px ;
}
#b2{
    text-align: center;
}
#b3{
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
}
#c{
    text-align: center;
}


#c1{
    /* height: 100%; */
    width: 100%;
    height: 267px;
}
#c2{
    text-align: center;
}
#c3{
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
}
#d{
    text-align: center;
}
#d1{
    height: 267px;
    width: 100%;
}
#d2{
    text-align: center;
}
#d3{
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
}

    
