div :nth-child(1){
    color: turquoise;
}
div :nth-child(2){
    color: violet;
}
div :nth-child(3){
    color: yellow;
}
body{
    background-image: url("./images/download\ \(3\).jpeg");
    /* background-size: cover; */
    background-repeat: no-repeat;
   background-size: cover;
}