div{
    height: 300px;
    width: 200px;
    background-color: black;
    color: white;
    /* padding-left: 10px;
    padding-top: 20px; */
    padding: 20px;
    /* padding: to adjust the content inside a box */
    border: springgreen groove 4px;
    
}
#a{
    margin-top: 100px;
    border: yellow solid 6px;
}